*{
    margin: 0;
    pad: 0;
    font-family: 'Yu Gothic UI Semibold';
    box-sizing: border-box;
}
#welcome-page{
    position: fixed;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #191818;
    color: #fff;
    z-index: 333;
    animation: welc 4s linear;
    transform: scale(0,0);
}
@keyframes welc{
    0%{
        transform: scale(0,0);
    }
    25%{
        transform: scale(1,1);
    }
   50%{
        transform: scale(1,1);
    }
    75%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1,1);
    }
}
#welcome-page::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: linear-gradient(teal,rgba(0, 128, 128, 0.329), transparent);
    transform: skewY(45deg);
    z-index: -1;
    animation: leftt 4s linear;
}
@keyframes leftt{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
#welcome-page::after{
    content: "";
    position: absolute;
    height:0%;
    width: 50%;
    top: 0;
    right: 0;
    background: linear-gradient(teal, transparent);
    transform: skewX(-45deg);
    z-index: -1;
    animation: rightt 4s linear;
}
@keyframes rightt{
    0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}
#welcome-page .welcome img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}
#all-contents{
    background: url(../images/weat.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba65, #5b548a75);
    color: #fff;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 2px 0px 8px grey;
    position: relative;
}
#logo{
    width: 60px;
    position: absolute;
    top: -70px;
    left: calc(50% - 30px);
}
.contentss{
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.contentss::-webkit-scrollbar{
    width: 0;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px 0px 0px 30px;
    flex: 1;
    margin-right: 0px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #dcebe9;
    border-radius: 0 50% 50% 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: .4s;
}
.search button img{
    width: 16px;
}
.search button:hover{
    background: #a2c2be;
}

.weather-icon{
    width: 170px;
    margin-top: 0px;
}
.temperature{
    display: grid;
    grid-template-columns: auto auto;
}
.weather h1{
    font-size: 80px;
    font-weight: 400;
}
.weather h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: 20px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.details .col{
    display: flex;
    text-align: left;
    align-items: center;
}
.details .col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}
.temp{
    display: none;
}

#ferBtn,#celBtn{
    padding: 5px 8px;
    border: none;
    outline: none;
    background: #ffffff5c;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
}
#ferBtn{
    background: #fff;
}
#ferBtn:hover,#celBtn:hover{
    background: #ffffff;
    transform: scale(1.1,1.1);
}
.fl-temp{
    display: none;
}
.weather{
    display: none;
}
